<div>
  <cnt-flexy-view-viskhan-promo-header-1_01
    [payload]='forHeader()'
    (clickHeaderMusovvir)='clicker($event)'
    (clickHeaderDeveloper)='clicker($event)'
    (clickHeaderInfo)='clicker($event)'
    (clickHeaderMyLink)='clicker($event)'
  >
  </cnt-flexy-view-viskhan-promo-header-1_01>
  <cnt-flexy-view-viskhan-promo-carousel
    [payload]='forCarousel()'
    [pathToAssets]='pathToAssets'
    (clickCarousel)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-carousel>
  <cnt-flexy-view-viskhan-promo-about-1_01
    [payload]='forAbout()'
    [pathToAssets]='pathToAssets'
    (clickAboutMe)='clicker($event)'
    (clickAboutTitl)='clicker($event)'
    (clickAboutText)='clicker($event)'
    (clickAboutMusovvir)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-about-1_01>
  <cnt-flexy-view-viskhan-promo-skills-1_01
    [payload]='forSkills()'
    [pathToAssets]='pathToAssets'
    (clickSkillsTitl)='clicker($event)'
    (clickSkillsImageHtml)='clicker($event)'
    (clickSkillsImageCss)='clicker($event)'
    (clickSkillsImageJs)='clicker($event)'
    (clickSkillsImageWp)='clicker($event)'
    (clickSkillsImageAngular)='clicker($event)'
    (clickSkillsImageReact)='clicker($event)'
    (clickSkillsImageStencil)='clicker($event)'
    (clickSkillsImageBs)='clicker($event)'
    (clickSkillsPercent)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-skills-1_01>
  <cnt-flexy-view-viskhan-promo-services-1_01
    [payload]='forServices()'
    (clickServiceMyTitl)='clicker($event)'
    (clickServiceTitl)='clicker($event)'
    (clickServiceIcon)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-services-1_01>
  <cnt-flexy-view-viskhan-promo-offer-1_01
    [payload]='forOffer()'
    [pathToAssets]='pathToAssets'
    (clickOfferMyTitl)='clicker($event)'
    (clickOfferMyText)='clicker($event)'
    (clickOfferMyLine)='clicker($event)'
    (clickOfferImage)='clicker($event)'
    (clickOfferTitl)='clicker($event)'
    (clickOfferButton)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-offer-1_01>
  <cnt-flexy-view-viskhan-promo-footer-1_01
    [payload]='forFooter()'
    (clickFooterTelephone)='clicker($event)'
    (clickFooterEmail)='clicker($event)'
    (clickFooterVk)='clicker($event)'
    (clickFooterInstagram)='clicker($event)'
    (clickFooterFacebook)='clicker($event)'
    (clickFooterYoutube)='clicker($event)'
    (clickFooterTwitter)='clicker($event)'
  ></cnt-flexy-view-viskhan-promo-footer-1_01>
</div>
